{% extends "layout.html" %}

{% block custom_assets %}
  <style type="text/css">
    .submit-controls{
      margin-top: 40px;
    }
  </style>
  <script type="text/javascript" src="{{public_url}}/js/jquery.js"></script>
{% endblock %}

{% block contenu %}

<div class="section">
  <div class="container">
    <div class="title">Modifier les règles du jeu {{collection.libelle}}</div>
    <form class="edit_rules_form" action="{{ path_for('edit_rules', {'id': collection.id}) }}" method="post" name="edit_rules_form">
        {% if (error) %}
        <div class="has-text-danger is-danger">
           {{error}}
        </div>
        {% endif %}

        {% for msg in flash('messages') %}
          <p class="has-text-success is-success">{{ msg }}</p>
        {% endfor %}

      <div class="columns">
        <div class="column is-one-third">
          <div class="field">
            <label class="label">Activer la durée minimale d'apprentissage</label>
            <input class="is-success" type="checkbox" placeholder="Animaux" name="min_learning_time_required" id="min_learning_time_required" {{ collection.min_learning_time_required == true ? 'checked':'' }} value="true">
          </div>

          <div id="min_controls" style="margin-bottom:0.75rem;">

            {% if collection.min_learning_time_required == true %}
              <div class="field">
                <label class="label">Valeurs </label>
              </div>

              <div class="field">
                <label class="label is-small">Heures </label>
                <input class="input is-small is-success" type="number" min="0" name="min_hours" value="{{ (collection.min_learning_time / 3600)|round(0, 'floor') }}">
              </div>
              
              <div class="field">
                <label class="label is-small">Minutes </label>
                <input class="input is-small is-success" type="number" min="0" name="min_minutes" value="{{ ((collection.min_learning_time % 3600) / 60)|round(0, 'floor') }}">
              </div>

              <div class="field">
                <label class="label is-small">Secondes </label>
                <input class="input is-small is-success" type="number" min="0" name="min_seconds" value="{{ ((collection.min_learning_time % 3600) % 60)|round(0, 'floor') }}">
              </div>

            {% endif %}

          </div>
        </div>
          
        <div class="column is-one-third">
          <div class="field">
            <label class="label">Activer la durée maximale d'apprentissage</label>
            <input class="" type="checkbox" placeholder="Animaux" name="max_learning_time_required" id="max_learning_time_required" {{ collection.max_learning_time_required == true ? 'checked':'' }} value="true">
          </div>

          <div id="max_controls" style="margin-bottom:0.75rem;">

            {% if collection.max_learning_time_required == true %}

              <div class="field">
                <label class="label">Valeurs </label>
              </div>

              <div class="field">
                <label class="label is-small">Heures</label>
                <input class="input is-small is-success" type="number" min="0" name="max_hours" value="{{ (collection.max_learning_time / 3600)|round(0, 'floor') }}">
              </div>
                
              <div class="field">
                <label class="label is-small">Minutes</label>
                <input class="input is-small is-success" type="number" min="0" name="max_minutes" value="{{ ((collection.max_learning_time % 3600) / 60)|round(0, 'floor') }}">
              </div>

              <div class="field">
                <label class="label is-small">Secondes</label>
                <input class="input is-small is-success" type="number" min="0" name="max_seconds" value="{{ ((collection.max_learning_time % 3600) % 60)|round(0, 'floor') }}">
              </div>

            {% endif %}

          </div>
        </div>
          

        <!-- Paramètrage partie évaluation -->

        <!-- Durée maximale pour répondre -->

        <div class="column is-one-third">
          <div class="field">
            <label class="label">Activer la durée maximale pour répondre</label>
            <input class="" type="checkbox" name="max_response_time_required" id="max_response_time_required" {{ collection.max_response_time_required == true ? 'checked':'' }} value="true">
          </div>

          <div id="max_response_controls" style="margin-bottom:0.75rem;">

            {% if collection.max_response_time_required == true %}

              <div class="field">
                <label class="label">Valeurs </label>
              </div>

              <div class="field">
                <label class="label is-small">Heures</label>
                <input class="input is-small is-success" type="number" min="0" name="max_response_hours" value="{{ (collection.max_response_time / 3600)|round(0, 'floor') }}">
              </div>
                
              <div class="field">
                <label class="label is-small">Minutes</label>
                <input class="input is-small is-success" type="number" min="0" name="max_response_minutes" value="{{ ((collection.max_response_time % 3600) / 60)|round(0, 'floor') }}">
              </div>

              <div class="field">
                <label class="label is-small">Secondes</label>
                <input class="input is-small is-success" type="number" min="0" name="max_response_seconds" value="{{ ((collection.max_response_time % 3600) % 60)|round(0, 'floor') }}">
              </div>

            {% endif %}

          </div>
        </div>
      </div>

      <div class="columns">
        <!-- Nombre de tentatives -->
        <div class="column is-one-third">
          <div class="field">
            <label class="label">Nombre de tentatives autorisées</label>
            <input class="input is-small is-success" type="text" name="nb_attempts_allowed" id="nb_attempts_allowed" value="{{collection.nb_attempts_allowed}}">
          </div>
        </div>

        <!-- Afficher ou pas la réponse correcte -->
        <div class="column is-one-third">
          <div class="field">
            <label class="label">Afficher l'information correcte après une mauvaise réponse</label>
            <input class="" type="checkbox" name="display_correct_answer" id="display_correct_answer" {{ collection.display_correct_answer == true ? 'checked':'' }} value="true">
          </div>
        </div>

        <!-- Configurer le nombre de possibilités par question -->
        <div class="column is-one-third">
          <div class="field">
            <label class="label">Nombre de possibilités par question</label>
            <input class="input is-small is-success" type="text" name="nb_possible_answers" id="nb_possible_answers" value="{{collection.nb_possible_answers}}">
          </div>
        </div>

      </div>

      

      <div class="columns">
        <!-- Configurer le type d'évaluation -->
        <div class="column is-one-third">
          <div class="field">
            <label class="label">Type d'évaluation</label>
          </div>
          <div class="field">
            <input class="" type="radio" name="evaluation_type" {{ collection.evaluation_type == 1 ? 'checked':'' }} value="1"> Une image en question et des textes en possibilités
          </div>
          <div class="field">
            <input class="" type="radio" name="evaluation_type" {{ collection.evaluation_type == 2 ? 'checked':'' }} value="2"> Un texte en question et des images en possibilités
          </div>
        </div>

        <!-- Nombre de question par jeu -->
        <div class="column is-one-third">
          <div class="field">
            <label class="label">Nombre de questions à poser</label>
            <input class="input is-small is-success" type="text" name="nb_game_questions" id="nb_game_questions" value="{{collection.nb_game_questions}}">
          </div>
        </div>
      </div>

      <div class="columns submit-controls">
        <div class="column is-one-third is-offset-one-third">
          <div class="field is-grouped">
            <div class="control">
                <button id="valider" class="button is-link">Valider</button>
            </div>
            <div class="control">
                <a class="button is-text" href = "{{ path_for('get_collections') }}">Annuler</a>
            </div>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>
<script type="text/javascript">

  $(() => {

    var collection = JSON.parse('{{collection|json_encode|raw}}');

    $('#min_learning_time_required').change((e) => {
      if(e.target.checked === true) {
        $('#min_controls').append(
            $('<div>').addClass('field').append(
            $('<label>').addClass('label').text('Valeurs')
          )).append(
              $('<div>').addClass('field')
              .append(
                $('<label>').addClass('label is-small').text('Heures')
              ).append(
                $('<input>')
                .attr('type', 'number')
                .attr('name', 'min_hours')
                .attr('id', 'min_hours')
                .addClass('input is-small is-success')
                .val(Math.floor(collection.min_learning_time / 3600))
              )
          ).append(
              $('<div>').addClass('field')
              .append(
                $('<label>').addClass('label is-small').text('Minutes')
              ).append(
                $('<input>')
                .attr('type', 'number')
                .attr('name', 'min_minutes')
                .attr('id', 'min_minutes')
                .addClass('input is-small is-success')
                .val(Math.floor((collection.min_learning_time % 3600) / 60))
              ) 
          ).append(
              $('<div>').addClass('field')
              .append(
                $('<label>').addClass('label is-small').text('Seconds')
              ).append(
                $('<input>')
                .attr('type', 'number')
                .attr('name', 'min_seconds')
                .attr('id', 'min_seconds')
                .addClass('input is-small is-success')
                .val(Math.floor( ((collection.min_learning_time % 3600) % 60) ))
              )
          )
      }else{
        $('#min_controls').empty();
      }
    });

    $('#max_learning_time_required').change((e) => {
      if(e.target.checked === true) {
        $('#max_controls').append(
            $('<div>').addClass('field').append(
            $('<label>').addClass('label').text('Valeurs')
          )).append(
              $('<div>').addClass('field')
              .append(
                $('<label>').addClass('label is-small').text('Heures')
              ).append(
                $('<input>')
                .attr('type', 'number')
                .attr('name', 'max_hours')
                .attr('id', 'max_hours')
                .addClass('input is-small is-success')
                .val(Math.floor(collection.max_learning_time / 3600))
              )
          ).append(
              $('<div>').addClass('field')
              .append(
                $('<label>').addClass('label is-small').text('Minutes')
              ).append(
                $('<input>')
                .attr('type', 'number')
                .attr('name', 'max_minutes')
                .attr('id', 'max_minutes')
                .addClass('input is-small is-success')
                .val(Math.floor((collection.max_learning_time % 3600) / 60))
              ) 
          ).append(
              $('<div>').addClass('field')
              .append(
                $('<label>').addClass('label is-small').text('Seconds')
              ).append(
                $('<input>')
                .attr('type', 'number')
                .attr('name', 'max_seconds')
                .attr('id', 'max_seconds')
                .addClass('input is-small is-success')
                .val(Math.floor( ((collection.max_learning_time % 3600) % 60) ))
              )
          )
      }else{
        $('#max_controls').empty();
      }
    });

    $('#max_response_time_required').change((e) => {
      if(e.target.checked === true) {
        $('#max_response_controls').append(
            $('<div>').addClass('field').append(
            $('<label>').addClass('label').text('Valeurs')
          )).append(
              $('<div>').addClass('field')
              .append(
                $('<label>').addClass('label is-small').text('Heures')
              ).append(
                $('<input>')
                .attr('type', 'number')
                .attr('name', 'max_response_hours')
                .attr('id', 'max_response_hours')
                .addClass('input is-small is-success')
                .val(Math.floor(collection.max_response_time / 3600))
              )
          ).append(
              $('<div>').addClass('field')
              .append(
                $('<label>').addClass('label is-small').text('Minutes')
              ).append(
                $('<input>')
                .attr('type', 'number')
                .attr('name', 'max_response_minutes')
                .attr('id', 'max_response_minutes')
                .addClass('input is-small is-success')
                .val(Math.floor((collection.max_response_time % 3600) / 60))
              ) 
          ).append(
              $('<div>').addClass('field')
              .append(
                $('<label>').addClass('label is-small').text('Seconds')
              ).append(
                $('<input>')
                .attr('type', 'number')
                .attr('name', 'max_response_seconds')
                .attr('id', 'max_response_seconds')
                .addClass('input is-small is-success')
                .val(Math.floor( ((collection.max_response_time % 3600) % 60) ))
              )
          )
      }else{
        $('#max_response_controls').empty();
      }
    });

  })

</script>
{% endblock %}